%table
	%tr
		%th URL
		%th Count
		%th Created
		%th Original
	- for url in @snips
		%tr
			%td
				%a{:href => "http://burgr.nl/#{url.snipped}"}
					= "http://burgr.nl/" + url.snipped
			%td= url.counter
			%td= url.created_at
			%td
				%a{:href => url.original}
					= url.original
